*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#ff4fc3;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  position:relative;
}

.bg-animation{
  position:absolute;
  width:200%;
  height:200%;
  background:
    radial-gradient(circle,#ffffff33 1px,transparent 1px);
  background-size:40px 40px;
  animation:moveBg 20s linear infinite;
}

@keyframes moveBg{
  0%{
    transform:translate(0,0);
  }
  100%{
    transform:translate(-200px,-200px);
  }
}

.container{
  width:100%;
  max-width:420px;
  padding:20px;
  z-index:1;
}

.header{
  text-align:center;
  color:white;
  margin-bottom:25px;
  animation:fadeDown 1s ease;
}

.header h1{
  font-size:34px;
  margin-bottom:5px;
}

.header p{
  opacity:0.9;
}

@keyframes fadeDown{
  from{
    opacity:0;
    transform:translateY(-20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.tracker-box{
  background:white;
  border-radius:25px;
  padding:25px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  animation:zoomIn 0.8s ease;
}

@keyframes zoomIn{
  from{
    opacity:0;
    transform:scale(0.9);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}

.tracker-box h2{
  color:#ff1493;
  margin-bottom:20px;
  text-align:center;
}

input{
  width:100%;
  padding:16px;
  border:none;
  border-radius:14px;
  background:#ffe4f3;
  outline:none;
  font-size:15px;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:14px;
  background:#ff1493;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#ff0080;
}

#loadingBox{
  margin-top:20px;
}

.loading-step{
  background:#ffe4f3;
  padding:12px;
  border-radius:12px;
  margin-bottom:10px;
  color:#ff1493;
  animation:fadeIn 0.5s ease;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(10px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.result-box{
  background:#ffe4f3;
  padding:18px;
  border-radius:15px;
  margin-top:15px;
  animation:fadeIn 0.5s ease;
}

.success{
  color:#16a34a;
  font-weight:bold;
}

.error{
  color:#dc2626;
  font-weight:bold;
}
